.main-form {
    display: flex;
    flex-direction: column;
}

.inputBlock {
    display: flex;
    flex-direction: column;
}

.email {
    width: 50%!important;
}

.buttonsBlock {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    & > div {
        flex-basis: 30%;
    }
}

.googleMap {
    height: 500px;

    margin-bottom: 15px;
}